<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<mr_partpay>
				<model>MR\PartPay\Model\Payment</model>
				<active>1</active>
				<payment_action>order</payment_action>
				<order_status>pending_partpay</order_status>
				<title>PartPay</title>
				<allowspecific>0</allowspecific>
				<!--<api_endpoint>https://api.partpay.co.nz/</api_endpoint>-->
				<api_endpoint>http://api.ci.partpay.net/</api_endpoint>
				<auth_token_endpoint>https://partpay-dev.au.auth0.com/oauth/token</auth_token_endpoint>
				<api_audience>https://auth-dev.partpay.co.nz</api_audience>
				<min>10</min>
				<max>1000</max>
				<debug_flag>1</debug_flag>
				<sort_order>200</sort_order>
			</mr_partpay>
		</payment>
	</default>
</config>
