<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment">
			<group id="paymentexpress_pxpay2" translate="label" type="text"
				sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Payment Express Checkout</label>
				<field id="active" translate="label" type="select" sortOrder="100"
					showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<!-- is there any better way to allow user upload certain logos, but 
					only define one field? -->
				<field id="merchantLogo1Source" translate="label" type="image"
					sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>PaymentExpress\PxPay2\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">PaymentExpress\PxPay2\MerchantLogo</base_url>
				</field>
				<field id="merchantLogo1Width" translate="label" type="text"
					sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				<field id="merchantLogo1Height" translate="label" type="text"
					sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				<field id="merchantLogo1Alt" translate="label" type="text"
					sortOrder="203" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo2Source" translate="label" type="image"
					sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>PaymentExpress\PxPay2\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">PaymentExpress\PxPay2\MerchantLogo</base_url>
				</field>
				<field id="merchantLogo2Width" translate="label" type="text"
					sortOrder="211" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				<field id="merchantLogo2Height" translate="label" type="text"
					sortOrder="212" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				<field id="merchantLogo2Alt" translate="label" type="text"
					sortOrder="213" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo3Source" translate="label" type="image"
					sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>PaymentExpress\PxPay2\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">PaymentExpress\PxPay2\MerchantLogo</base_url>
				</field>
				<field id="merchantLogo3Width" translate="label" type="text"
					sortOrder="221" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				<field id="merchantLogo3Height" translate="label" type="text"
					sortOrder="222" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				<field id="merchantLogo3Alt" translate="label" type="text"
					sortOrder="223" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo4Source" translate="label" type="image"
					sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>PaymentExpress\PxPay2\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">PaymentExpress\PxPay2\MerchantLogo</base_url>
				</field>
				<field id="merchantLogo4Width" translate="label" type="text"
					sortOrder="231" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				<field id="merchantLogo4Height" translate="label" type="text"
					sortOrder="232" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				<field id="merchantLogo4Alt" translate="label" type="text"
					sortOrder="233" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantLogo5Source" translate="label" type="image"
					sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Logo</label>
					<comment>Allowed file types:PNG, GIF, JPG, JPEG, SVG.</comment>
					<backend_model>PaymentExpress\PxPay2\Model\Config\Backend\MerchantLogo</backend_model>
					<base_url type="media" scope_info="1">PaymentExpress\PxPay2\MerchantLogo</base_url>
				</field>
				<field id="merchantLogo5Width" translate="label" type="text"
					sortOrder="241" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Width</label>
				</field>
				<field id="merchantLogo5Height" translate="label" type="text"
					sortOrder="242" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Height</label>
				</field>
				<field id="merchantLogo5Alt" translate="label" type="text"
					sortOrder="243" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Logo Image Alt</label>
				</field>


				<field id="merchantText" translate="label" type="text"
					sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant Payment Description</label>
				</field>

				<field id="merchantLinkUrl" translate="label" type="text"
					sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Link</label>
				</field>
				<field id="merchantLinkText" translate="label" type="text"
					sortOrder="321" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Link Text</label>
				</field>

				<field id="paymenttype" translate="label" type="select"
					sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment Type</label>
					<source_model>PaymentExpress\PxPay2\Model\Config\Source\PaymentOptions</source_model>
				</field>

				<field id="forcea2a" translate="label" type="select"
					sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Account2Account Only</label>
					<comment>Rebilling and Authorise Only cannot be enabled if
						Account2Account only is set as payment method</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>


				<field id="pxPayUserId" translate="label" type="text"
					sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPay UserId</label>
				</field>

				<field id="pxPayKey" translate="label" type="password"
					sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPay Key</label>
				</field>

				<field id="pxPayUrl" translate="label" type="text" sortOrder="800"
					showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPay Url</label>
				</field>

				<field id="allowRebill" translate="label" type="select"
					sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Rebill</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="pxpostusername" translate="label" type="text"
					sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Username</label>
				</field>

				<field id="pxpostpassword" translate="label" type="password"
					sortOrder="1100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Password</label>
				</field>

				<field id="pxposturl" translate="label" type="text" sortOrder="1200"
					showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Url</label>
				</field>
			</group>
			
			<group id="paymentexpress_pxfusion" translate="label" type="text"
				sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Payment Express PxFusion</label>
				<field id="active" translate="label" type="select" sortOrder="100"
					showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				
				<field id="paymenttype" translate="label" type="select"
					sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment Type</label>
					<source_model>PaymentExpress\PxPay2\Model\Config\Source\PaymentOptions</source_model>
				</field>

				<field id="allowRebill" translate="label" type="select"
					sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Rebill</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				
				<field id="username" translate="label" type="text"
					sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Username</label>
				</field>

				<field id="password" translate="label" type="password"
					sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Password</label>
				</field>
				
				
				<field id="postUrl" translate="label" type="text" sortOrder="800"
					showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxFusion Post Url</label>
				</field>

				<field id="wsdl" translate="label" type="text" sortOrder="900"
					showInDefault="1" showInWebsite="1" showInStore="1">
					<label>WSDL</label>
				</field>
				
				<field id="pxpostusername" translate="label" type="text"
					sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Username</label>
				</field>

				<field id="pxpostpassword" translate="label" type="password"
					sortOrder="1100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Password</label>
				</field>

				<field id="pxposturl" translate="label" type="text" sortOrder="1200"
					showInDefault="1" showInWebsite="1" showInStore="1">
					<label>PxPost Url</label>
				</field>
			</group>
			
			
		</section>
	</system>
</config>
