<!--
  ~ /**
  ~  Copyright © 2016 Magestore. All rights reserved.
  ~  See COPYING.txt for license details.
  ~  */
  -->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:showLoginPopup"
      method="post">
    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required email-field one-field">
            <div class="control _with-tooltip">
                <input class="input-text"
                       type="email"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused,
                            afterRender:afterRenderEmail.bind($data),
                            event: {change: changeValue}
                            "
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       required
                       id="customer-email" />
                <span class="highlight"></span>
                <span class="bar"></span>

                <div for="customer-email" generated="true" class="mage-error" id="customer-email-error"></div>

                <label class="label" for="customer-email">
                    <span data-bind="i18n: 'Email Address'"></span>
                    <em class='required-symbol'>*</em>
                </label>
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <span class="note" data-bind="fadeVisible: isPasswordVisible() == false"><!-- ko i18n: 'You can create an account after checkout.'--><!-- /ko --></span>
            </div>
        </div>

        <!--Hidden fields -->
        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible">
            <div class="field message-field">
                <div class="control">
                    <span class="note" data-bind="i18n: 'You already have an account with us. Sign in or continue as guest.'"></span>
                </div>

            </div>
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div class="actions-toolbar">
                <input name="context" type="hidden" value="checkout" />
                <div class="primary">
                    <button class="action primary" data-bind="click:showLoginPopup" data-action="checkout-method-login">
                        <span data-bind="i18n: 'Login'"></span>
                    </button>
                </div>
                <div class="secondary">
                    <a class="action remind" data-bind="click:forgotPassword,attr:{href:'#'}">
                        <span data-bind="i18n: 'Forgot Your Password?'"></span>
                    </a>
                </div>
            </div>
        </fieldset>
        <!--Hidden fields -->
    </fieldset>
</form>
<!-- /ko -->
