.dpsMerchantLogos {
    display: inline;
}

.dpsCheckboxIndent {
    padding-left: 2em;
}

 .dpsPaymentForm input{
     margin:10px 0 10px 0;
 }
 .dpsPaymentFormSelect{
    width:100px;
    margin-right:10px;
    float:left;
    display:inline-block;
 }        
 .cvv{
     width:200px;
 }         
.clear{
      clear: both;
 }
