<!--
  ~ /**
  ~  Copyright © 2016 Magestore. All rights reserved.
  ~  See COPYING.txt for license details.
  ~  */
  -->

<!-- ko if: isShowNewsletter() -->
<div class="onestepcheckout-newsletter  checkbox-group">
    <input type="checkbox" id="newsletter_subscriber_checkbox" name="billing[newsletter_subscriber_checkbox]"
           class="checkbox osc-additional-data" data-bind="checked: isChecked">
    <label class="label--checkbox" for="newsletter_subscriber_checkbox">
        <span class="check"></span>
        <span class="box-check"></span>
        <!-- ko text: $t('Sign Up for Our Newsletter') --><!-- /ko -->
        </label>
</div>
<!-- /ko -->